apiVersion: v1
data:
  DB_HOST: bXlzcWwub2NmLmJlcmtlbGV5LmVkdTozMzA2
  DB_NAME: 
  DB_PASSWORD: 
  DB_USER: 
  PRIMARY_URL:
kind: Secret
metadata:
  name: wp-$sitename-secret
  namespace: wordpress
type: Opaque
