apiVersion: v1
stringData:
  DB_HOST: mysql.ocf.berkeley.edu:3306
  DB_NAME: 
  DB_PASSWORD: 
  DB_USER: 
  PRIMARY_URL:
kind: Secret
metadata:
  name: wp-$sitename-secret
  namespace: wordpress
type: Opaque
